:root {
  --color-background: var(--vt-c-green);
  --color-background-soft: var(--vt-c-green-soft);
  --color-background-mute: var(--vt-c-green-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}